#Ignore env
.env
.env.prod

# Ignore virtual environment
.venv/

*__pycache__/

.gitignore

test*


*.in


# Ignore SQLite database files
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# Ignore database backups
*.db-journal
*.sqlite-journal
*.sqlite3-journal
